.businessDetails {
    border: 1px solid rgb(190, 189, 189);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.businessHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
}

.titles {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 15px;
    color: #110B56;
}

.all {
    color: #110B56;
    border-bottom: 3px solid #110B56;
    width: 40px;
    text-align: center;
    background: #EAEFFD;
}

.approved {
    width: 80px;
}

.approved p {
    float: right;
}

.sort {
    margin-right: 20px;
    width: 70px;
    border: 1px solid rgb(190, 189, 189);
    text-align: center;
    padding-left: 10px;
}

.sort p {
    float: left;
}

.subtitle {
    padding-left: 20px;
    margin-top: 40px;
}

input[type="checkbox"] {
  background-color: white;
}

.companyName {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.subCompany {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstCompany {
    margin-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(236, 230, 230);
    font-size: 15px;
    color: #110B56;
}

.theLastOne p{
    float: right;
    color: #50B83C;
    margin-right: 10px;
}

.theLastOne img{
    margin-left: 10px;
}

.theLastOne {
    background: #E3F1DF;
    border-radius: 20px;
    width: 100px;
}

.intelia {
    background: #EAEFFD;
}

.declined {
    background: #FDECE2;
}

.declined p {
    color: #FA5F1C;
}

.pending {
    background: #FFFAE8;
}

.pending p {
    color: #FFCA00;
}

.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pages {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.pages div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(190, 189, 189);
}

.pages img {
    width: 10px;
    height: 10px;
    margin-top: 14px;
}
