.businessDetails {
    border: 1px solid rgb(190, 189, 189);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.businessHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
}

.titles {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.all {
    color: #110B56;
    border-bottom: 3px solid #110B56;
    width: 40px;
    text-align: center;
    background: #EAEFFD;
}

.approved {
    width: 80px;
}

.approved p {
    float: right;
}

.sort {
    margin-right: 20px;
    width: 70px;
    border: 1px solid rgb(190, 189, 189);
    text-align: center;
    padding-left: 10px;
}

.sort p {
    float: left;
}

.subtitle {
    padding-left: 20px;
    margin-top: 20px;
}

input[type="checkbox"] {
  background-color: white;
}

.companyName {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.subCompany {
    display: flex;
    justify-content: space-between;
}

.firstCompany {
    margin-top: 20px;
    padding-left: 20px;
}