.graphCon {
    margin-top: 50px;
    display: flex;
}

.theGraph {
    width: 94%;
    display: flex;
    flex-direction: column;
}

.chart {
    height: 178.85px;
    border: 1px solid rgb(190, 189, 189);
    display: flex;
    background-color: linear-gradient(180deg, rgba(41, 121, 242, 0.1) 0%, rgba(41, 121, 242, 0.02) 100%);
    flex-direction: column;
    background: url('./images/redChart.png'), url('./images/blueChart.png'), url('./images/layer.png') no-repeat;
    background-size: cover;
}

.insideChart {
    width: 100%;
    height: 50%;
}

.blue {
    background: linear-gradient(180deg, rgba(41, 121, 242, 0.1) 0%, rgba(41, 121, 242, 0.02) 100%);
    height: 50%;
}

/* .colorless {
    height: 50%;
    border-bottom: 1px solid rgb(190, 189, 189);
} */

.secondChart {
  height: 50%;
  border-bottom: 1px solid rgb(190, 189, 189);
}

.outlier {
    border: 1px solid rgb(190, 189, 189);
    margin-top: -30px;
    width: 150px;
    height: 60px;
    margin-left: 400px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    color: rgb(133, 126, 126);
}

.theMonths {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.eclipse {
    margin-top: 2px;
    margin-left: 470px;
}

.eclipse hr {
    height: 160px;
    width: 0;
    margin-top: -9px;
    margin-left: 4px;
}

.lastMonth {
    margin-right: 10px;
}

.jan {
    margin-left: 10px;
}

.graphNumbers {
    margin-left: 20px;
    width: 5%;
    display: flex;
    height: 178.85px;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(119, 114, 114);
}

.unknown {
    position: relative;
    top: 20px;
}

.midMonth {
    margin-left: 15px;
    font-weight: bolder;
    color: black;
}