* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  border-radius: 30px;
  perspective: 1px;
  overflow: hidden;
  margin-bottom: 40px;
}

.smallDiv {
  width: 215px;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F4F5FA;
}

.innerDiv {
  margin-top: 80px;
  line-height: 40px;
}

.innerDiv div {
  display: flex;
}

.settings {
  height: 500px;
  margin-top: 200px;
  display: flex;
  width: 215px;
  flex-direction: column;
  justify-content: flex-end;
}

.settingsDiv {
  display: flex;
}

.bigDiv {
  display: flex;
  flex-direction: column;
  width: 1285px;
  background: white;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

.searchBox {
  width: 400px;
  border: 1px solid rgb(185, 182, 182);
  height: 40px;
  display: flex;
  align-items: center;
}

.searchBox div {
  color: rgb(190, 189, 189);
}

.searchBox img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  color: rgb(190, 189, 189);
}

.searchCon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
}

.notice {
  display: flex;
}

.notice .confident {
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.notice div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.notice img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  color: black;
}

.dashboard {
  display: flex;
  align-items: center;
  background: #EAEFFD;
  width: 212px;
  justify-content: flex-start;
  border-right: 3px solid blue;
  height: 40px;
}

.dashboard img {
  margin-left: 10px;
  height: 18.75px;
  width: 20px;
}

.dashboard p {
  color: blue;
  font-size: 15px;
  margin-left: 10px;
  font-weight: 700;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.companies img {
  width: 20px;
  height: 17.64px;
  margin-left: 10px;
  color: rgb(185, 180, 180);
}

.companies p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(153, 147, 147);
}

.overview {
  margin-top: 20px;
  color: black;
  font-weight: bolder;
  padding-left: 20px;
}
